/* 版心 */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    /* 点击图片不会弹出 */
    pointer-events: none;
}

ul {
    list-style: none;
}

a {
    font-family: '宋体';
    text-decoration: none;
    color: #666;
}

.w {
    width: 961px;
    margin: 10px auto;
}

header {
    position: relative;
    font-family: '宋体';
    cursor: pointer;
}

header .sun {
    position: absolute;
    right: 0;
}

header h3 {
    display: inline-block;
    margin: 5px 0;
}

header span {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    transition: all .2s;
}

header span:hover {
    transform: translateX(20px);
}


/* 项目 */

section {
    position: relative;
    height: 100px;
}

section ul li {
    float: left;
    margin-top: 5px;
}

section a {
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    transition: all .2s;
}

section ul li a:hover {
    transform: translateX(10px);
    background-color: pink;
}

section h3 {
    font-family: '宋体';
}

section img {
    position: absolute;
    right: 0;
}

.pic {
    clear: both;
    display: flex;
    justify-content: space-between;
    transform: translateY(10px);
}

.pic div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-family: '宋体';
    animation: move 10s linear 30s;
}

.pic:hover div {
    animation-play-state: paused;
}

@keyframes move {
    0% {
        transform: rotate(180deg);
        background-color: #fff;
    }
    50% {
        transform: rotate(270deg);
        background-color: #ccc;
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 游戏 */

.game {
    height: 500px;
}

.gif {
    position: absolute;
    top: 50px;
    right: -140px;
}

canvas {
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #333;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.8);
}


/* 底部 */

footer {
    text-align: center;
    margin-top: 100px;
    color: #ccc;
}
