<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script><!--导入vue开发版本 开发环境版本，包含有帮助的命令行警告-->
    <title>音乐播放器</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--
      1.歌曲搜索获取
        请求地址 https://autumnfish.cn/search
        请求方法 get
        请求参数 keywords
        响应内容 歌曲搜索结果

      2.歌曲url获取
        请求地址 https://autumnfish.cn/song/url
        请求方法 get
        请求参数 id 歌曲id
        响应内容 歌曲url地址

      3.歌曲详情获取
        请求地址:https://autumnfish.cn/song/detail
        请求方法get
        请求参数ids（歌曲id）
        响应内容歌曲详情，包含封面信息
      4.歌曲评论
        请求地址https://autumnfish.cn/comment/hot?type=0
        请求方法get
        请求参数id（歌曲id，type固定为0）
        响应内容 歌曲的热门评论
      5.mv地址获取
        请求地址:https://autumnfish.cn/mv/url
        请求方法get
        请求参数:id（mvid，为0说明没有mv)
        响应内容mv的地址
        1.歌曲搜索 2.歌曲播放 3.歌曲封面 4.歌曲评论 5.播放动画 mv播放
    -->
    <div id="app" @click="hidden">
        <div class="box">
          <div class="mv" v-if="isShowmv">
            <video :src="mvUrl" controls="controls" width="500"></video>
          </div>   
            <div class="top">
              <p>音乐播放器</p> 
              <!-- 搜索框 -->
              <input type="text" v-model="keywords" @keyup.enter="getkeywords"> <span @click="getkeywords">🔍</span> </div>
            <div class="left">
                <p v-for="item in arr"><a href="#" @click="geturl(item.id)">▶</a> {{item.name}} <a href="#" @click="getmvUrl(item.mvid)" v-show="item.mvid!=0">mv</a></p>
            </div>
            <div class="right">
                    <!-- 封面 -->
                    <img :src="fengmianurl" :class="{playing:isShow}">
                <div class="user">
                  <!-- 循环输出用户头像评论名称等 -->
                      <!-- <img :src="item.user.avatarUrl" alt="头像"> -->
                      <ul>
                        <li v-for="item in userarr"><span>{{item.user.nickname}}</span> <p>{{item.content}}</p></li>
                      </ul>
                </div>
            </div>
            <div class="bottom">
                <audio class="bottom" :src="url"  @play="play" @pause="pause" controls autoplay loop></audio>
                <p>2020.6.25@by梦迹余生</p>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>